

body, html{
	font-family: 'Roboto', sans-serif;
	
}

#header{
	width: 100%;
	background: transparent;
	transition: ease-out 0.2s;
}
#header.active {
	position: fixed;
	background-color: rgb(255, 255, 255);
	box-shadow:0 0 30px 0 rgba(0,0,0,0.12);
	z-index: 9999;
}

#header .auto{
width: auto;
}
#header .nav-link{
	padding-left:0;
	padding-right:0;
	margin-left:15px;
	margin-right:15px;
}

#header .hv:hover{
	border-bottom: solid 3px var(--primary);
	
}
#header .active{
	border-bottom: solid 3px var(--white);
	
}

#cards a.destaque{
	display: block;	
	background: var(--grey-light);
	border-radius: 5px;
	text-align: center;
	padding: 20px;
	color: #000;
	text-decoration: none;
	transition: all ease-out 0.2s;
}
#cards a.destaque:hover{
	
	background: var(--white);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.12);
	transform: scale(1.05);

}
#cards p{
 color:var (--black);
}


#cards a.destaque .img-container{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 200px;
}
#cards a.destaque .img-container img{
	max-height: 160px;
}
#rodape{
	text-align: center;
	background: var(--grey);
	
}


.espaço{
	height: 38rem;
}

.largura{
	width: 60em;
	
}

.tx{
	background: red;
}

.drop a{
	color: var(--black);
}

.img1{
    border-radius: 50%;
    padding: 70px;    
}
.img2{
    border-radius:50%;
    padding: 10px;
}


